

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* shared style */
.text-primary{
    color: rgba(13, 19, 33, 1);
}
.btn-primary{
    padding: 18px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: bolder;
    font-size: 28px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-size: 20px;
    color: #0D1321;
}
/* Banner-style */
.banner{
    max-width: 998px;
    justify-content: center;
    margin: 26px 221px 45px 221px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
   
}
.h1{
    color: #0D1321;
    font: size 68px;
    font-weight: bolder;
}
.banner-description{
    font-size: 26px;
    font-weight: normal;
    color: #0D1321;
}
.banner-profile-pic{
    width: 240px;
    height: 240px;
    display: flex;
}
.banner-pp{
    justify-content: center;
    margin: auto;
    max-width: 100%;
    height: auto;
    align-items: center;
    display: flex;
}
.button-st{
    justify-content: center;
    margin: auto;
    max-width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #0D1321;
}
